*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.search{
  background-color: blueviolet;
  padding: 40px;
  text-align: center;
}

.search h2{
  color: white;
  padding-bottom: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search input[type=text]{
  width: 80%;
  padding: 15px;
}

.search input[type=submit]{
  width: 25%;
  padding: 15px;
  margin-top: 15px;
}

.containerCidade{
  text-align: center;
}

.containerCidade p{
  padding-top:2%;
  padding-bottom: 1%;
  font-size: 20px;
  border: 1px solid black;
}

.pesqalgo{
 text-align: center;
 padding-top: 20px;
 font-size: 20px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}